:root{
    --azul: #0c005a;
    --rojoclaro: #bc2525;
    --rojooscuro: #ff0000;
    --blanco: #eaeaea;
}

body{
    margin: 30px;
    background-color:var(--blanco);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.encabezado{
    background-color: var(--azul);
    display: flex;
    height: 90px;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
}

.imagen-header{
    height: 60px;
}

.titulo_header{
    color: rgb(248, 248, 248);
}

.principal{
    background-color:var(--rojoclaro);
    display: flex;
    height: 700px;
    border: 1px solid black;
    flex-direction: column;
}

.section-a{
    width: 40%;
    height: 60px;
    border: 0.5px solid rgb(0, 0, 0);
    background-color:var(--blanco);
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 90px;
    /* background-color:  */
}

.imagen-section-a{
    height: 60px;
}

.imagen-section-b{
    height: 500px;
    padding-top: 5%;
}

.section-union{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-c{
    background-color:var(--blanco);
    border: 2px solid black;
    border-radius: 20px;
    width: 35%;
    height: 100%;
    margin-right: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    position: relative;
    bottom: 60px;
}
.div_tabla{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caja{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;

}

.texto-a{
    font-size: 20px;
    margin-top: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texto-b{
    font-size: 20px;
    margin-top: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer{
    background-color: var(--azul); 
    height: 150px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

.cuadro-imagenes{
    height: 100px;
    margin-left: 80px;
    display: flex;
    
}

.pokemon{
    height: 100px;
    margin-right: 55px;
}

.imagenes{
    display: flex;
}

.otros{
    display: flex;
    justify-content: center;
    color: var(--blanco);
    margin-left: 40px;
    margin-top: 50px;
    font-size: 27px;
}

.texto_sec{
    font-size: 25px;
    margin-bottom: 120px;
    
}
